<header>
	<p *ngIf="!isSearch">
		<mat-toolbar color="primary">
			<button mat-icon-button (click)="sidenav.toggle()" class="example-icon" aria-label="Example icon-button with menu icon">
				<mat-icon>menu</mat-icon>
			</button>
			<span>Sincro</span>
			<span class="example-spacer"></span>
			<button mat-icon-button class="search-icon" (click)="isSearch = !isSearch"
				aria-label="Example icon-button with share icon">
				<mat-icon>search</mat-icon>
			</button>
		</mat-toolbar>
	</p>
	<p *ngIf="isSearch">
		<mat-toolbar color="primary">
			<button mat-icon-button class="example-icon" (click)="isSearch = !isSearch"
				aria-label="Example icon-button with share icon">
				<mat-icon>search</mat-icon>
			</button>
			<span class="example-spacer"></span>
			<mat-form-field style="width: 80%;">
				<input matInput placeholder="Rechercher quelque chose...">
				<button mat-icon-button matSuffix (click)="isSearch = !isSearch">
					<mat-icon>close</mat-icon>
				</button>
			</mat-form-field>
		</mat-toolbar>
	</p>
</header>

<mat-sidenav-container class="drawer-container">
	<mat-sidenav #sidenav [mode]="mode.value">
		<div class="drawer-menu drawer-search">
			<mat-form-field style="width: 80%;">
				<input matInput placeholder="Rechercher quelque chose...">
				<button mat-icon-button matSuffix>
					<mat-icon>search</mat-icon>
				</button>
			</mat-form-field>
		</div>
		<mat-action-list class="drawer-menu-list">
			<button mat-list-item (click)="select(1)"> Widget </button>
			<button mat-list-item (click)="select(2)"> Presse papier / Email & téléphone </button>
			<button mat-list-item (click)="select(3)"> Tableau / Menu </button>
		  </mat-action-list>
	</mat-sidenav>
	<mat-sidenav-content>
		<app-widget *ngIf="currentView == 1"></app-widget>
		<app-pet *ngIf="currentView == 2"></app-pet>
		<app-tm *ngIf="currentView == 3"></app-tm>
	</mat-sidenav-content>
</mat-sidenav-container>
